.h_scrolling{
    display: grid;
    grid-auto-flow: column;
    gap: 1em;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding: 1rem;
    padding: 0 1rem ;
} 

/* 
Removing scroll bar
.h_scrolling::-webkit-scrollbar {
     display: none;
}  */

.h_scrolling > *{
    scroll-snap-align: start;
} 

.scroll_item{
      background: linear-gradient(
    to bottom,
    rgba(236, 31, 4, 0.322),
    rgba(199, 28, 5, 0.103)
  );
    min-height: 200px;
    min-width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
margin: .5rem 0;
}

